body {
  background-image: url(https://hdqwalls.com/download/windows-xp-bliss-4k-lu-1920x1080.jpg)
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  position: relative;
  grid-gap: 1em;
}

.search-box {
  grid-column: 2/5;
  grid-row: 2/4;
  justify-self: center;
  position: absolute;
  bottom: 30vh;
}

#search-input {
  box-sizing: border-box;
  outline-width: 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.current-weather {
  display: none;
  grid-column: 2/5;
  grid-row: 2/3;
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.349)
}

