body {
  background-image: url(https://hdqwalls.com/download/windows-xp-bliss-4k-lu-1920x1080.jpg)
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.search-box {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: center;
}

#search-input {
  justify-self: center;
  box-sizing: border-box;
  outline-width: 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
